@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
* {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1195px;
    margin: 0 auto;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;
}
.logo > a {
    font-family: 'McLaren', cursive;
    font-size: 24px;
    color: #463C74;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
.logo > a > span {
    color: #b4d51e;
}
.logo > a:hover {
    letter-spacing: 1px;
}
.search {
    all: unset;
    width: 575px;
    padding: 14px 24px;
    background: #F8F7F5;
    color: rgb(70, 60, 116);
    font-size: 18px;
    font-weight: 300;
    border-radius: 8px;
}
.search::placeholder {
    color: rgba(70, 60, 116, 0.5);
}
.icon_search {
    width: 17px;
    height: 17.22px;
    position: relative;
    right: 40px;
    top: 3px;
}
.header_right {
    display: flex;
    width: 150px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}
.vector {
    width: 17px;
    height: 17px;
    cursor: pointer;
    transition: 0.5s;
}
.vector:active {
    transform: scale(1.5);
}
.user_logo {
    border: 1px solid #B4D51E;
    background: #B4D51E;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.user_logo:hover {
    background: none;
    transform: scale(1.2);
}
.user_logo_text {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 6px 10.5px;
}
.user_logo:hover > .user_logo_text {
    color: #B4D51E;
}
.site_lang {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
}
.site_lang:hover {
    letter-spacing: 1px;
}
.nav {
    width: 497px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu_item {
    list-style: none;
}
.menu_item > a {
    color: rgba(70, 60, 116, 0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
}
.menu_item > a:hover {
    color: #463C74;
    letter-spacing: 0.5px;
}
.hero_content {
    width: 100%;
    height: 500px;
    background: #FBF4E2;
    background-image: url(../img/bg_illustrator.svg);
    background-repeat: no-repeat;
    background-position: 50px -5px;
    border-radius: 50px;
    display: flex;
}
.offer {
    padding-top: 150px;
    padding-left: 100px;
}
.title {
    color: #463C74;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
}
.desc {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}
.btn {
    all: unset;
    background: #B4D51E;
    border: 1px solid #B4D51E;
    padding: 15px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}
.btn:hover {
    background: none;
    color: #a9c81e;
    transform: scale(1.05);
}
.ilustration {
    margin-left: 100px;
}
.rating_icon_active {
    color: #B4D51E;
}
.rating_icon {
    color: #f0f0f0;
}
.popular {
    margin: 50px 0;
}
.popular_text {
    display: flex;
    justify-content: space-between;
}
.popular_title {
    color: #463C74;
    font-size: 32px;
    font-weight: 700;
}
.popular_link {
    color: #828282a5;
    font-size: 24px;
    font-weight: 400;
    transition: 0.5s;
}
.popular_link:hover {
    letter-spacing: 1px;
    color: #828282;
}
.popular_books {
    margin: 40px 0;
    display: flex;
    gap: 65px;
}
.popular_book {
    width: 251px;
    height: 532px;
    padding: 40px 34.5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.popular_book:hover {
    transform: scale(1.05);
}
.book_img {
    border-radius: 8px;
}
.book_name {
    width: 187px;
    margin: 24px 0 8px 0;
    font-size: 24px;
    font-weight: 400;
}
.author {
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.product_author {
    display: flex;
    gap: 5px;
    align-items: center;
}
.author_img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.author_name {
    width: 160px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.author_name > span {
    color: rgba(0, 0, 0, 0.6);
}
.contact {
    margin: 80px 0;
}
.contact_content {
    width: 100%;
    height: 500px;
    background: #FBF4E2;
    background-image: url(../img/contact_bg.svg);
    background-repeat: no-repeat;
    background-position: 950px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.contact_title {
    font-size: 48px;
    font-weight: 700;
    width: 555px;
    color: #463C74;
    text-align: center;
    margin-bottom: 67px;
}
.form {
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact_input {
    all: unset;
    width: 468px;
    background: #fff;
    font-size: 18px;
    font-weight: 300;
    color: rgb(70, 60, 116);
    padding: 20px;
    border-radius: 8px;
}
.contact_input::placeholder {
    color: rgba(70, 60, 116, 0.5);
}
.contact_btn {
    all: unset;
    padding: 19px 25px;
    border: 1px solid #B4D51E;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: #B4D51E;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.contact_btn:hover {
    background: none;
    color: #B4D51E;
    transform: scale(1.05);
}
.reviews_section {
    margin: 30px 0;
}
.reviews {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
.review {
    width: 367px;
    height: 196px;
    border: 1px solid #B4D51E;
    background: #fff;
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.review:hover {
    transform: scale(1.1);
}
.r_author_img {
    position: relative;
    top: -40px;
    left: 140px;
}
.shape {
    position: relative;
    top: -55px;
    left: 200px;
}
.review_info {
    text-align: center;
}
.review_author {
    font-size: 12px;
    font-weight: 400;
}
.review_text {
    width: 285px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #94A2B3;
}
.footer {
    background: #FBF4E2;
    padding: 40px 0;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.descTxt {
    margin-top: 16px;
    color: #828282;
    font-size: 18px;
    font-weight: 400;
}
.footer_links {
    display: flex;
    gap: 150px;
    justify-content: space-between;
}
.fn_title {
    font-weight: 18;
    font-weight: 400;
}
.footer_menu {
    padding-inline-start: 0px;
}
.fm_items {
    margin-top: 12px;
    list-style: none;
}
.fm_items > a {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
    transition: 0.5s;
}
.fm_items > a:hover {
    color: #404040;
    letter-spacing: 0.8px;
}
.fc_title {
    font-weight: 18;
    font-weight: 400;
}
.fc_text {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}
.fc_text > p {
    margin-top: 12px;
}
.copyright_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright_text {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}
.social_links {
    display: flex;
    gap: 10px;
}
.social_icon {
    width: 40px;
    height: 40px;
    background: #B4D51E;
    font-size: 22px;
    color: #fff;
    border: 1px solid #B4D51E;
    border-radius: 50%;
    padding: 5px 8px;
    transition: 0.5s;
}
.social_icon:hover {
    background: none;
    color: #B4D51E;
    transform: scale(1.2);
}
